<?xml version="1.0" encoding="UTF-8" standalone="no"?><entities>
	<entity>
		<entity-name>com.sap.primetime.dao.entities.BasicEntity</entity-name>
		<entity-width>120</entity-width>
		<entity-height>90</entity-height>
		<entity-X-Coordinate>578</entity-X-Coordinate>
		<entity-Y-Coordinate>19</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>com.sap.primetime.dao.entities.Config</entity-name>
		<entity-width>120</entity-width>
		<entity-height>128</entity-height>
		<entity-X-Coordinate>110</entity-X-Coordinate>
		<entity-Y-Coordinate>127</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>com.sap.primetime.dao.entities.EventHistory</entity-name>
		<entity-width>120</entity-width>
		<entity-height>148</entity-height>
		<entity-X-Coordinate>362</entity-X-Coordinate>
		<entity-Y-Coordinate>19</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>com.sap.primetime.dao.entities.File</entity-name>
		<entity-width>120</entity-width>
		<entity-height>266</entity-height>
		<entity-X-Coordinate>362</entity-X-Coordinate>
		<entity-Y-Coordinate>215</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>com.sap.primetime.dao.entities.Owner</entity-name>
		<entity-width>120</entity-width>
		<entity-height>166</entity-height>
		<entity-X-Coordinate>735</entity-X-Coordinate>
		<entity-Y-Coordinate>477</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>com.sap.primetime.dao.entities.User</entity-name>
		<entity-width>120</entity-width>
		<entity-height>188</entity-height>
		<entity-X-Coordinate>917</entity-X-Coordinate>
		<entity-Y-Coordinate>19</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>com.sap.primetime.dao.entities.Page</entity-name>
		<entity-width>120</entity-width>
		<entity-height>526</entity-height>
		<entity-X-Coordinate>362</entity-X-Coordinate>
		<entity-Y-Coordinate>530</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>com.sap.primetime.dao.entities.PageReference</entity-name>
		<entity-width>120</entity-width>
		<entity-height>306</entity-height>
		<entity-X-Coordinate>578</entity-X-Coordinate>
		<entity-Y-Coordinate>808</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>com.sap.primetime.dao.entities.TenantAwareEntity</entity-name>
		<entity-width>148</entity-width>
		<entity-height>32</entity-height>
		<entity-X-Coordinate>564</entity-X-Coordinate>
		<entity-Y-Coordinate>175</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>com.sap.primetime.dao.entities.Playlist</entity-name>
		<entity-width>120</entity-width>
		<entity-height>226</entity-height>
		<entity-X-Coordinate>1061</entity-X-Coordinate>
		<entity-Y-Coordinate>750</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>com.sap.primetime.dao.entities.Screen</entity-name>
		<entity-width>120</entity-width>
		<entity-height>686</entity-height>
		<entity-X-Coordinate>1061</entity-X-Coordinate>
		<entity-Y-Coordinate>19</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>com.sap.primetime.dao.entities.Template</entity-name>
		<entity-width>120</entity-width>
		<entity-height>266</entity-height>
		<entity-X-Coordinate>110</entity-X-Coordinate>
		<entity-Y-Coordinate>416</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>
</entities>